.mt-sm {
  margin-top: 1.2rem;
}

.mt-md {
  margin-top: 2.2rem;
}

.mt-lg {
  margin-top: 3.2rem;
}

.mb-sm {
  margin-bottom: 1.2rem;
}

.mb-md {
  margin-bottom: 2.2rem;
}

.mb-lg {
  margin-bottom: 3.2rem;
}

.bg--blue {
  background-color: $color-blue-1;
}

.bg--white {
  background-color: $color-white-1;
}

.text-center {
  text-align: center;
}
